<div class="container">
    <div class="container-fluid">
        <h3 class="alert alert-info">Data Produk</h3>
        <hr/>
        <button type="button" class="btn btn-success">
            Tambah Data
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary">
            Export Ke Excel
        </button>
        <hr/>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>image</th>
                    <th>Nama</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action #</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produk of productEntities">
                    <td>{{produk.id}}</td>
                    <td>
                        <a href="{{produk.photo}}">
                        <img class="img-responsive" height="120px" width="120px" src="{{produk.photo}}"/>
                        </a>
                    </td>
                    <td>{{produk.name}}</td>
                    <td>{{produk.price | currency:"Rp "}}</td>
                    <td width="30px">
                        <input type="text" class="form-control" 
                        value="{{produk.quantity}}" readonly="readonly">
                    </td>
                    <td>
                        <button [routerLink]="['/cart', {id: produk.id}]" type="button" class="btn btn-info">
                           <i class="fa fa-shopping-cart"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>image</th>
                    <th>Nama</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action #</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>